<div id="background">
<div class="head">
<h1><u>Welcome to Online Vegetables Store</u></h1>
</div> 
 <div class="card">
  <p>In today's world which has come up with a great innovative idea
    which is transfering themselves into the digital world which is 
    making our daily works more efficient so we come up with an idea which
     can transform our way to buy vegetables 
  </p>
   <p>
    Earlier we use to go the nearby market physically to buy vegetables 
    which was a very hectic as well as time consuming process it can be 
    skipped buy buying vegetables Online with the website which we created
     it brings you desired vegetables at your doorstep
  </p>

 </div>
 <!-- <app-footer></app-footer> -->
</div>
 
