
   <div class="background">
   
     
      <div class="textarea" class="col-md-6">
        <label for="exampleFormControlTextarea1" class="form-label">Raise Complaint</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
      <button routerLink="/home" type="button" class="btn btn-outline-success waves-effect btn-sm">Submit</button>
    
      <h1 class="align"><p style="padding: 10px;">Feel free to contact us 889966553322</p></h1>
       
 </div>

