

<div class="back">

  <div clas="row">
   
      <div class="col-md-6">

        

              <div class="text-center">
<app-admin-header></app-admin-header>


<div class="card2">

  <button routerLink="/addvegetable" type="button" class="btn btn-outline-success waves-effect btn-lg">Add Vegetable</button>

    <br>

    <br>

    <button routerLink="/viewstock" type="button" class="btn btn-outline-success waves-effect btn-lg">View Stock</button>

    <br>

    <br>

    <button routerLink="/viewfeedback" type="button" class="btn btn-outline-success waves-effect  btn-lg">View Feedback</button>

    <br>

    <br>

    <button routerLink="/ViewComplaints" type="button" class="btn btn-outline-success waves-effect btn-lg">View Complaints</button>

    <br>

    <br>

   

   

  </div>


