
.body{

font-size: Sans-serif;

}

header{
 position: relative;
 background: rgb(211, 211, 214);
 padding: 0;
 border-bottom: 1px solid #e72929;
}

img {
    position: relative;
 left: -71px;
 width: 120px;
 height: 90px;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
 color: #272424;
}

#logo{
 
 font-size: 100;
 font-family: 'Times New Roman';
 font-weight: bold;
 position: relative;
 right: 1ch;
}


a:hover{
 background:#28b758;
 color: white;
 cursor: pointer;
}

.container{
 margin: 0 auto;
 display: flex;
justify-content: space-between;
}

a.logo{
 font-weight: bold;
 color: rgb(107, 107, 111);
 padding: 1rem;
 position: absolute;
 left: 105px;
 top: 20px;
 font-size: 20px;
 font-family: Arial, Helvetica, sans-serif;
}

a.logo:hover{
    color: #ffffff;
}

ul{
 display: flex;
 list-style-type: none;
margin: 0;
}

ul a{
 padding: 1rem;
 display: inline-block;
 top: 21px;
position: relative;
}

a span{
 background: #ff4d4d;
 color: white;
 padding: 0.1rem 0.45rem;
 border-radius: 100rem;
font-size:0.9rem;
}


.menu-container{
 position: relative;
}

.menu{
 position:absolute;
 z-index:1;
 background:whitesmoke;
 display: none;
}

.menu-container:hover .menu{
display: block;
}

.menu a{
 width: 100%;
min-width:8rem;
}

